extends layouts/main_layout.pug

block style 
   link(rel="stylesheet", href="/css/main.css")

block content 
   main 
         form.product-form(action="/admin/add-product", method="POST")
            .form_control 
               label(for="title") Title 
               input(type="text", name="title")#title

            button.btn(type="submit") Add Product
      
      